/*=========================================
global html tag, class and id. Use for any components 
=========================================*/


// global html tag style:-
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// global id style
#id-1 {
    background-color: red;
}




// global class style:-
.class-1 {
    background-color: blue;
}

.home-title {
    font-size: 22px;
    text-transform: uppercase;
    color: #464b5c;
    font-weight: 500;
}






// global @media query. Use for mobile responsive
@media (max-width:1200px) {
    .class-1 {
        background-color: yellow;
    }
}

@media (max-width:767px) {
    .home-title {
        text-align: center;
        font-size: 24px;
        font-weight:6500;
    }
}