/*========================== 
Scss. Use for any components  
==========================*/


// background color variable:-
$bg-white-1: #fff;
$bg-black-2: black;
$bg-blue-3: rgb(0, 132, 255);



// text color variable:-
$text-color-white-1: #fff;