<div class="section-1">


    <div class="section-one pagination">
        <div class="section-one-child">
            <div class="pagination-child">
                <span>
                    <a href="#">
                        Home
                    </a>
                </span>

                <span>
                    <i class="fas fa-chevron-right"></i>
                </span>

                <span>
                    <a href="#">
                        Ladies
                    </a>
                </span>

                <span>
                    <i class="fas fa-chevron-right"></i>
                </span>

                <span>
                    <a class="decoration" href="#">
                        Leather Pegged Pants
                    </a>
                </span>
            </div>
        </div>
    </div>


    <div class="section-one">
        <div class="section-one-child mt-4">
            <div class="product-one">
                <div class="review-model">
                    <div class="rating-review">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <span class="review-span">
                                <a href="#" class="review">(17 reviews)

                                </a>
                                <span class="scroll-to-review">Scroll To Reviews</span>
                            </span>
                            
                        </div>
                        <h1>Leather Pegged Pants</h1>
                    </div>
                    <div class="model">
                        <div class="image image-one">
                            <img src="../../../assets/model/product-01-1.webp" alt="">
                            <span class="icon icon-left">
                                <i class="las la-arrow-left"></i>
                            </span>
                        </div>
                        <div class="image image-two">
                            <img src="../../../assets/model/product-02-1.webp" alt="">
                        </div>
                        <div class="image image-three">
                            <img src="../../../assets/model/product-15-1.webp" alt="">
                            <span class="icon icon-right">
                                <i class="las la-arrow-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>