@import '../../../theme/base.scss';
@import '../../../theme/variable.scss';


/*==================
main section start:- 
==================*/
.section-one {
    width: 100%;
    position: relative;
    background-color: $bg-white-1;
}

// slider div start:-
.section-one-slide-img {
    cursor: pointer;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 90vh;
}

.slide-img {
    width: 100%;
    height: 100%;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1);
    transform-origin: center;
}

.slide-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.infos {
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.slider-info {
    width: 60%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-info h2 {
    line-height: 1.5em;
    font-size: 60px;
    font-weight: 600;
    color: rgb(83, 120, 244);
    animation: price 1s linear 0s 1 alternate;
}

@keyframes price {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.slider-info .ear {
    font-size: 105px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(54, 59, 75);
    transform: scale(1);
    animation: productName 1.4s linear 0s 1 alternate;
}

@keyframes productName {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slider-info h3 {
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 40px;
    animation: productDetails 3s ease-in-out 1 alternate;
    transform: scale(1);
}

@keyframes productDetails {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.slider-info a {
    font-size: 17px;
    padding: 20px 46px;
    color: #fff;
    background-color: #5378f4;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    animation: showBtn .6s linear 1 alternate;
    transition: .3s;
}

@keyframes showBtn {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.slider-info .btn:hover {
    background-color: #212529;
}

@media (max-width:1200px) {
    .infos {
        width: 96%;
    }

    .slider-info {
        width: 100%;
    }

    .slider-info h2 {
        font-size: 50px;
    }

    .slider-info .ear {
        font-size: 90px;
    }

    .slider-info h3 {
        font-size: 35px;
    }

    .slider-info a {
        font-size: 17px;
        padding: 18px 34px;
    }
}

@media (max-width:767px) {
    .slider-info h2 {
        font-size: 34px;
    }

    .slider-info .ear {
        font-size: 80px;
    }

    .slider-info h3 {
        font-size: 24px;
    }

    .slider-info a {
        font-size: 17px;
        padding: 16px 40px;
    }
}

@media (max-width:556px) {
    .slider-info .ear {
        font-size: 62px;
    }
}

@media (max-width:360px) {
    .slider-info h3 {
        font-size: 22px;
    }
}

// slider div end.



// section child main start:-
.section-one-child {
    width: 90%;
    height: 100%;
    align-items: center;
    margin: auto;
    position: relative;
}

// section child main end.


// services div start:-
.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 23% 77%;
    background-color: #f7f7f8;
}

.service:hover {
    background-color: #5378f4;
}

.service:hover .service-details {
    color: #fff;
}

.service .service-icon {
    display: flex;
    align-items: center;
}

.service .service-icon i {
    font-size: 70px;
    color: #ffd800;

}

.service .service-details .first-shipping {
    font-size: 15px;
    font-weight: 600;
}

.service .service-details p {
    font-size: 13px;
    font-weight: 300;

}

@media (max-width:1200px) {
    .service {
        padding: 14px 20px;
        grid-gap: 10px;
    }
}

@media (max-width:992px) {

    .service {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .service .service-icon {
        justify-content: center;
    }
}

@media (max-width:767px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

// services div end.


// product card div start:-
.product-one-cards {
    width: 100%;
    margin-top: 40px;
}

.cards-one {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 26px;
}

.card-one {
    background-color: #f7f7f8;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    padding: 2px 2px 2px 2px;

}

.cards-one img {
    max-width: 100%;
    height: 158px;
    transition: .4s;
    object-fit: cover;
}

.cards-one img:hover {
    transform: scale(1.05);
}

.card-one-info {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 13px;
}

.card-one-info h4 {
    color: #464b5c;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:992px) {
    .cards-one {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:767px) {
    .cards-one {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:556px) {
    .cards-one {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:360px) {
    .card-one-info h4 {
        font-size: 14px;
    }
}

// product cards one div end.


// product cards two div start:-
.product-two-cards {
    width: 100%;
    margin-top: 40px;
}

.cards-two {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
}

.card-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffff;
    box-sizing: border-box;
    position: relative;
}

.card-two .card-two-img {
    position: relative;
    overflow: hidden;
    transition: .4s;
    margin-right: 28px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: scale(1);
}

.card-two .card-two-img img {
    transition: .4s;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.cards-two .card-two-img img:hover {
    transform: scale(1.05);
}


.card-two .card-two-img .percent {
    position: absolute;
    height: 34px;
    top: 5px;
    left: 8px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s;
    opacity: 1;
}

.card-two .card-two-img .color-red {
    background-color: #e32c2b;
}

.card-two .card-two-img .color-blue {
    background-color: #5378f4;
}


.card-two .card-two-img .percent span {
    color: #ffff;
    font-size: 10px;
    font-weight: 600;
}

.card-two .card-two-img img {
    max-width: 100%;
    height: auto;
}

.card-two-img .hart-eye-icon {
    font-size: 19px;
    position: absolute;
    z-index: 1111;
    top: 0;
    right: -20px;
    opacity: 0;
    transition: all .2s;
}

.card-two-img .hart-eye-icon a {
    display: block;
    background-color: #f7f7f8;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    text-decoration: none;
    margin-top: 8px;
    position: relative;
    line-height: 33px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.card-two-img .hart-eye-icon a i {
    transform: rotateY(0deg);
    transition: all .2s;
}

.card-two-img .hart-eye-icon a span {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0;
    width: 33px;
    padding-left: 10px;
    z-index: -1;
    overflow: hidden;
    transform: scaleX(1) scaleY(1);

    transform-origin: center right;
    text-align: left;
    height: 33px;
    opacity: 0;
    border-radius: 60px;
    background-color: #f7f7f8;
    text-transform: uppercase;
    font-weight: 600;
}

.card-two-img .hart-eye-icon a:hover i {
    transform: rotateY(180deg);
}

.card-two-img .hart-eye-icon a:hover span {
    width: 120px;
    transform: scaleX(1) scaleY(1);
    opacity: 1;
    transition: all .1s;
}

.card-two:hover .card-two-img .percent {
    opacity: 0;
}

.card-two:hover .card-two-img .hart-eye-icon {
    right: 14px;
    opacity: 1;
}

.product-two-infos {
    display: flex;
    align-items: center;
}

.rating-name .rating {
    color: #ffd400;
    font-size: 16px;
}

.rating-name .product-name h3 a {
    text-decoration: none;
    color: #464b5c;
    margin-top: 6px;
    font-weight: 500;
    font-size: 15px;
    transition: .4s;
}

.rating-name .product-name h3 a:hover {
    color: #007bff;
}

.product-two-infos .product-info .price-and-btn {
    margin-top: 20px;
}

.product-two-infos .product-info .price-and-btn p {
    margin-bottom: 25px;
}

.product-two-infos .product-info .price-and-btn p del {
    font-size: 13px;
    font-weight: 300;
    color: #464b5c;
    padding: 0px 10px 0px 0px;
}

.product-two-infos .product-info .price-and-btn p .current-price {
    font-size: 16px;
    font-weight: 500;
}

.product-two-infos .product-info .price-and-btn .cart-btn {
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #5378f4;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.product-two-infos .product-info .price-and-btn .cart-btn:hover {
    background-color: #212529;
}

@media (max-width:1360px) {
    .product-two-infos .product-info .price-and-btn {
        margin-top: 12px;
    }

    .product-two-infos .product-info .price-and-btn p {
        margin-bottom: 8px;
    }
}

@media (max-width:1200px) {
    .cards-two {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

@media (max-width:767px) {
    .product-two-infos .product-info .price-and-btn {
        margin-top: 3px;
    }

    .product-two-infos .product-info .price-and-btn p {
        margin-bottom: 4px;
    }

    .cards-two {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .product-two-infos .product-info .price-and-btn .cart-btn {
        font-size: 12px;
        padding: 8px 12px;
    }
}

@media (max-width:556px) {
    .cards-two {
        grid-gap: .6rem;
    }

    .card-two .card-two-img {
        margin-right: 0px;
    }

    .card-two .card-two-img .percent {
        height: 28px;
        width: 28px;
    }

    .card-two .card-two-img .percent span {
        font-size: 8px;
    }


    .card-two-img .hart-eye-icon {
        font-size: 15px;
    }

    .card-two-img .hart-eye-icon a {
        width: 26px;
        height: 26px;
        line-height: 28px;
    }

    .card-two-img .hart-eye-icon a span {
        font-size: 7px;
        width: 26px;
        padding-left: 6px;
        height: 26px;
    }

    .card-two-img .hart-eye-icon a:hover span {
        width: 75px;
    }


    .product-two-infos {
        text-align: center;
    }

    .rating-name .rating {
        font-size: 12px;
    }

    .rating-name .product-name h3 a {
        font-size: 12px;
    }

    .product-two-infos .product-info .price-and-btn p del {
        font-size: 11px;
    }

    .product-two-infos .product-info .price-and-btn p .current-price {
        font-size: 13px;
        font-weight: 500;
    }

    .product-two-infos .product-info .price-and-btn .cart-btn {
        font-size: 10px;
        padding: 4px 8px;
    }


    .card-two:hover .card-two-img .hart-eye-icon {
        right: 2px;
        opacity: 1;
    }
}

@media (max-width:359px) {
    .card-two {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .product-two-infos {
        justify-content: center;
    }

}

// product cards two div end.


// partners image slider start:- 
.all-partners {
    width: 100%;
    margin-top: 40px;
}

.partners {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    margin-top: 30px;
}

.partners .one {
    display: flex;
    align-items: center;
}

.partners .one img {
    max-width: 100%;
    height: auto;
}

@media (max-width:992px) {
    .partners {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .partners .one {
        justify-content: center;
    }

    .partners .one img {
        max-width: 80%;
        height: auto;
    }

}

@media (max-width:556px) {
    .partners {
        grid-template-columns: repeat(2, 1fr);
    }

    .partners .one {
        justify-content: center;
    }
}

// partners image slider end.


// featured products card start:-
.product-three-cards {
    width: 100%;
    margin-top: 40px;
}

.cards-three {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
}

.card-three {
    background-color: #ffff;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.card-three .card-three-img {
    position: relative;
    overflow: hidden;
    transition: .4s;
    cursor: pointer;
    transform: scale(1);
}

.card-three .card-three-img .featured-image {
    transition: .4s;
    max-width: 100%;
    max-height: 100%;
}

.card-three-img .featured-image:hover {
    transform: scale(1.05);
}


.card-three .card-three-img .featured-percent {
    position: absolute;
    height: 34px;
    top: 5px;
    left: 8px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    // border-radius: 50%;
    padding: 5px 9px;
    transition: all .2s;
    opacity: 1;
}

.card-three .card-three-img .featured-color-red {
    background-color: #e32c2b;
    opacity: 1;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

}

.card-three .card-three-img .featured-color-blue {
    background-color: #5378f4;
    opacity: 1;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}


.card-three .card-three-img .featured-percent span {
    color: #ffff;
    font-size: 10px;
    font-weight: 600;
}

.card-three .card-three-img img {
    max-width: 100%;
}

// featured-hart-eye-icon style start:- 
.card-three-img .featured-hart-eye-icon {
    font-size: 19px;
    position: absolute;
    z-index: 1111;
    top: 0;
    right: -20px;
    opacity: 0;
    transition: all .2s;
}

.card-three-img .featured-hart-eye-icon a {
    display: block;
    background-color: #f7f7f8;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    text-decoration: none;
    margin-top: 8px;
    position: relative;
    line-height: 33px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.card-three-img .featured-hart-eye-icon a i {
    transform: rotateY(0deg);
    transition: all .2s;
}

.card-three-img .featured-hart-eye-icon a span {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0;
    width: 33px;
    padding-left: 10px;
    z-index: -1;
    overflow: hidden;
    transform: scaleX(1) scaleY(1);
    transform-origin: center right;
    text-align: left;
    height: 33px;
    opacity: 0;
    border-radius: 60px;
    background-color: #f7f7f8;
    text-transform: uppercase;
    font-weight: 600;
}

.card-three-img .featured-hart-eye-icon a:hover i {
    transform: rotateY(180deg);
}

.card-three-img .featured-hart-eye-icon a:hover span {
    width: 120px;
    transform: scaleX(1) scaleY(1);
    opacity: 1;
    transition: all .1s;
}

.card-three:hover .card-three-img .featured-hart-eye-icon {
    right: 14px;
    opacity: 1;
}

// featured-hart-eye-icon style end.


// featured-image-changes style start:-
.card-three-img .featured-image-changes {
    font-size: 19px;
    position: absolute;
    z-index: 1111;
    bottom: 0;
    left: -20px;
    opacity: 0;
    transition: all .2s;
}

.card-three-img .featured-image-changes a {
    display: flex;
    align-items: center;
    position: relative;
}

.card-three-img .featured-image-changes a span {
    font-size: 10px;
    font-weight: 500;
    opacity: 0;
    color: #212529;
    margin-top: 5px;
    padding: 2px 4px;
    background-color: #fff;
    border: 1px solid #babbbe;
    border-radius: 3px;
    position: relative;
    left: 0px;
    margin-left: 6px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
}

.card-three-img .featured-image-changes span::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-top: 1px solid #babbbe;
    border-left: 1px solid #babbbe;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg) translateY(-70%);
    left: -1px;
    z-index: 1111;
}




.card-three-img .featured-image-changes a img {
    display: block;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-decoration: none;
    margin-top: 5px;
    position: relative;
    line-height: 33px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.card-three-img .featured-image-changes a img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}


.card-three-img .featured-image-changes a:hover img {
    border: 1px solid black;
}

.card-three-img .featured-image-changes a:hover span {
    transform: translateX(0px);
    visibility: visible;
    transition: all .3s ease;
    opacity: 1;
}


.card-three:hover .card-three-img .featured-image-changes {
    left: 14px;
    opacity: 1;
}

// featured-image-changes style end.

.card-three:hover .card-three-img .featured-percent {
    opacity: 0;
}

.product-two-infos {
    display: flex;
    align-items: center;
}

.featured-rating-name .featured-rating {
    color: #ffd400;
    font-size: 16px;
}

.featured-rating-name .featured-product-name .foxic {
    text-decoration: none;
    color: #9e9e9e;
    font-weight: 500;
    font-size: 13px;

}

.featured-rating-name .featured-product-name h3 a {
    text-decoration: none;
    color: #464b5c;
    font-weight: 500;
    font-size: 15px;
    transition: .4s;
}

.featured-rating-name .featured-product-name h3 a:hover {
    color: #007bff;
}

.product-three-infos .featured-product-info .featured-price-and-btns {
    margin-top: 6px;
    overflow: hidden;
    height: 43px;

}

.product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn {
    transition: .2s;
}

.card-three:hover .product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn {
    transform: translateY(-45px);
}

.product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn p {
    margin-bottom: 27px;
}

.product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn p del {
    font-size: 13px;
    font-weight: 300;
    color: #464b5c;
    padding: 0px 10px 0px 0px;
}

.product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn p .featured-current-price {
    font-size: 16px;
    font-weight: 500;
}

.product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn .featured-cart-btn {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;
    background-color: #5378f4;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn .featured-cart-btn:hover {
    background-color: #212529;
}

@media (max-width:992px) {
    .cards-three {
        grid-gap: 1.5rem;
    }
}

@media (max-width:767px) {
    .cards-three {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:556px) {


    .card-three .card-three-img .featured-percent {
        height: 28px;
        width: 28px;
    }

    .card-three .card-three-img .featured-percent span {
        font-size: 8px;
    }


    .card-three-img .featured-hart-eye-icon {
        font-size: 15px;
    }

    .card-three-img .featured-hart-eye-icon a {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }

    .card-three-img .featured-hart-eye-icon a span {
        font-size: 7px;
        width: 26px;
        padding-left: 6px;
        height: 26px;
    }

    .card-three-img .featured-hart-eye-icon a:hover span {
        width: 76px;
    }

    // featured images changes start:-

    .card-three-img .featured-image-changes {
        font-size: 15px;
    }

    .card-three-img .featured-image-changes a img {
        width: 26px;
        height: 26px;
    }

    .card-three-img .featured-image-changes a span {
        font-size: 7px;
    }

    .card-three-img .featured-image-changes span::after {
        content: '';
        width: 4px;
        height: 4px;
    }

    // featured image changes end 

    .product-three-infos {
        text-align: center;
    }

    .featured-rating-name .featured-rating {
        font-size: 12px;
    }

    .featured-rating-name .featured-product-name h3 a {
        font-size: 12px;
    }

    .product-three-infos .featured-product-info .featured-price-and-btn p del {
        font-size: 11px;
    }

    .product-three-infos .featured-product-info .featured-price-and-btns .featured-price-and-btn p .featured-current-price {
        font-size: 13px;
        font-weight: 500;
    }

    .product-three-infos .featured-product- .featured-price-and-btns .featured-price-and-btn .featured-cart-btn {
        font-size: 10px;
        padding: 4px 8px;
    }

    .card-three:hover .card-three-img .featured-hart-eye-icon {
        right: 2px;
        opacity: 1;
    }

    .product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn p {
        margin-top: 4px;
    }

    .product-three-infos .featured-product-info .featured-price-and-btns .featured-price-btn .featured-cart-btn {
        font-size: 12px;
        padding: 6px 12px;
        border-radius: 5px;
        color: #fff;
        background-color: #5378f4;
        text-transform: uppercase;
        text-decoration: none;
        transition: .3s;
    }
}

// featured products card end.


// subscribe area start:-
.subscribe-area {
    width: 100%;
    background-color: #5378f4;
    padding: 70px 0px;
    margin-top: 40px;
}

.subscribe {
    width: 90%;
    margin: auto;
}

.subscribe-child {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.subscribe-child .subscribe-title .big-title {
    font-size: 90px;
    font-weight: 600;
    color: #fff;
    margin: 0px 0px 0px -4.5px;

}

.subscribe-child .subscribe-title .small-title {
    color: #fff;
    font-size: 30px;
    margin: 0px 0px 0px -4.5px;
    font-weight: 400;
}


.subscribe-input {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

.input-child {
    width: 90%;
    font-size: 24px;
    outline: none;
    margin: auto;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    padding: 12px 0px;
    transform-origin: center left;
    transition: .2s;
    font-weight: lighter;
}

.input-child::placeholder {
    color: #fff;
}

.input-btn{
    text-align: right;
}

.input-btn .subscribe-btn {
    font-size: 17px;
    padding: 17px 46px;
    font-weight: 600;
    border: 0;
    outline: none;
    color: #5378f4;
    background-color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

.input-btn .subscribe-btn:hover {
    background-color: #212529;
    color: #fff;
}


@media (max-width:1200px) {
    .subscribe {
        width: 96%;
    }

    .subscribe-child .subscribe-title .big-title {
        font-size: 70px;
    }

    .subscribe-child .subscribe-title .small-title {
        font-size: 20px;
    }

    .input-child {
        font-size: 22px;
    }

    .input-btn .subscribe-btn {
        font-size: 17px;
        padding: 16px 20px;
    }
}

@media (max-width:992px) {
    .subscribe-child {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        text-align: center;
    }

    .input-child {
        width: 100%;
    }

    .subscribe-input {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .input-btn .subscribe-btn {
        width: 100%;
        display: block;
    }
}

@media (max-width:556px) {
    .subscribe-child .subscribe-title .big-title {
        font-size: 50px;
    }

    .subscribe-child .subscribe-title .small-title {
        font-size: 18px;
    }
}

// subscribe area end.


// bottom menu start:-
.bottom-menu {
    width: 100%;
    padding: 25px 0px;
    background-color: #282828;
}

.bottom-menu-child {
    width: 90%;
    margin: auto;
}

.bottom-menu-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
}

.logo-2 {
    text-align: left;
}

.logo-2 .logo-2-img {
    max-width: 100%;
    height: auto;
}


.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    transition: .2s ease-in-out;
}

.menu ul li a:hover {
    color: #007bff;
}

.bottom-menu-icons {
    text-align: right;
}

.bottom-menu-icons a i {
    color: #fff;
    font-size: 18px;
    padding: 0px 6px;
    transition: all .2s ease-in-out;
}

.bottom-menu-icons a i:hover {
    color: #007bff;
}

@media (max-width:1200px) {

    .bottom-menu {
        padding: 25px 0px;
    }


    .bottom-menu-child {
        width: 96%;
        margin: auto;
    }
}

@media (max-width:992px) {
    .bottom-menu-data {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }

    .logo-2 {
        text-align: center;
    }

    .bottom-menu-icons {
        text-align: center;
    }
}

@media (max-width:767px) {
    .menu ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu ul li + li{
        margin-bottom: 8px;
    }

    .menu ul li a {
        font-size: 18px;

    }

}

@media (max-width:556px) {}

@media (max-width:360px) {}

// bottom menu end


@media (max-width:1200px) {
    .section-one-child {
        width: 96%;
    }
}

/*===============
main section end. 
================*/