<section class="section-one">
    <div class="section-one-slide-img">
        <div class="slide-img">
            <img src="../../../assets/banner/banner1.webp" alt="">
        </div>
        <div class="slide-info">
            <div class="infos">
                <div class="info">
                    <h2>$799</h2>
                    <div class="ear">Ear phones</div>
                    <h3>Enjoy with superb portability</h3>
                    <br>
                    <a class="btn" href="">Shope Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-one-child">
        <div class="services">
            <div class="service">
                <div class="service-icon">
                    <i class="las la-truck"></i>
                </div>
                <div class="service-details">
                    <div class="first-shipping">Fast Shipping</div>
                    <p>
                        Again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                    </p>
                </div>
            </div>
            <div class="service">
                <div class="service-icon">
                    <i class="las la-exchange-alt"></i>
                </div>
                <div class="service-details">
                    <div class="first-shipping">Easy return
                    </div>
                    <p>
                        Again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                    </p>
                </div>
            </div>
            <div class="service">
                <div class="service-icon">
                    <i class="lar la-clock"></i>
                </div>
                <div class="service-details">
                    <div class="first-shipping">24/7 Customer Support
                    </div>
                    <p>
                        Again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</section>