<footer>
    <div class="footer">
        <div class="footer-child">
            <div class="mt-4 child-one ">
                <div class="footer-logo">
                    <img class="footer-logo-img" src="../../../assets/logo/logo.webp" alt="">
                </div>
                <div class="company-data">
                    <ul>
                        <li>
                            E-mail:
                            <a class="color-hover" href="abcd112233@gmail.com">abcd112233@gmail.com</a>
                        </li>
                        <li>
                            Hours: 10:00 - 18:00, Mon - Fri
                        </li>
                    </ul>
                </div>
                <div class="bottom-menu-icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-vimeo-v"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="mt-4 child-two">
                <h4>Information</h4>
                <div class="company-data">

                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Returns & Exchanges</a>
                        </li>
                        <li>
                            <a href="#">Shipping & Delivery</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mt-4 child-three">
                <h4>Account details</h4>
                <div class="company-data">
                    <ul>
                        <li>
                            <a href="#"> My Account</a>
                        </li>
                        <li>
                            <a href="#">View Cart</a>
                        </li>
                        <li>
                            <a href="#">My Wishlist</a>
                        </li>
                        <li>
                            <a href="#">Order Status</a>
                        </li>
                        <li>
                            <a href="#">Track My Order</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mt-4 child-four">
                <h4>Account details</h4>
                <div class="company-data pay-icon">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-pay"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <a href="#">
                                    <i class="fab fa-apple-pay"></i>
                                </a>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="lab la-cc-visa"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-cupon-text">
                    <i class="fas fa-cut"></i>
                    <span>Foxic</span>
                    theme
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="copyright-child">
            <div class="copyright-text">
                <p>
                    <a href="">FOXshop</a>
                    &copy;2020 copyright
                </p>
            </div>
        </div>
    </div>
</footer>